* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* disable the double-tap zoom in browser on mobile devices */
    touch-action: manipulation;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: .5rem;
}

.container{
    padding: 1rem;
}

.game{
    display: flex;
    justify-content: center;
}

.game canvas{
    margin-right: 1rem;
}

.board{
    margin-left: 1rem;
    padding: 1rem;
    background-color: #b7dd65;
}

.board h2{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

.board__subtitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.board__score{
    margin-top: 2rem;
    font-size: 1.3rem;
}

.controller{
    padding: 1rem 2rem;
}

.button-group{
    display: flex;
    justify-content: center;
}

.button-group button{
    display: block;
    padding: .1rem .5rem;
    margin: .5rem 1rem;
    font-size: 2.3rem;
    cursor: pointer;
}